* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

header {
  text-align: center;
  font-family: 'Monoton', cursive, sans-serif;
  font-size: 48px;
  color: #d7d7d7;
  padding: 20px;
  margin-bottom: 50px;
}

#score-text {
  display: block;
  text-align: center;
  font-family: 'Monoton', cursive, sans-serif;
  font-size: 38px;
  color: #d7d7d7;
}

#score-container {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Monoton', cursive, sans-serif;
  font-size: 38px;
  color: #d7d7d7;
  margin-bottom: 150px;
}

.score-count {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-left: 365px;
  padding-right: 365px;
}

button {
  flex: 1;
  transition: all 0.5s ease;
  border: 3px solid #d7d7d7;
  border-radius: 15px;
  background-color: transparent;
  padding: 25px;
  font-family: 'Monoton', cursive, sans-serif;
  font-size: 30px;
  color: #d7d7d7;
}

button:hover {
  border: 3px solid #999;
  background-color: #d7d7d7;
  color: #333;
}
